<%= javascript_include_tag 'display_questions' %>
<body class="bg_blue">
    <div id="wrapper">
        <header>
            <div class="logo animated-logo zoomIn "></div>
        </header>

        <div id="main" class="width100">

            <div class="q-men <%= @styles[0] %>"></div>

            <div class="question animated fadeIn">
                <div class="lines <%= @styles[1] %>"></div>
                <div class="q-number">1</div>
                <div class="q-numberall">/ 10</div>
                <div class="q-text ">
                   <%= @questions.first.text %> 
                </div>
                <div class="q-ref animated fadeIn"><%= @questions.first.source %></div>

            </div>
            <div class="clear"></div>
            <div class="q-selection <%= @styles[2] %> animated fadeIn">

                <div>
                    <input id="radio1" type="radio" name="radio" value="1" checked="checked">
                    <label for="radio1"><%= @questions.first.answers[0].text %></label>
                </div>
                <div>
                    <input id="radio2" type="radio" name="radio" value="2">
                    <label for="radio2"><%= @questions.first.answers[1].text %></label>
                </div>
                <div>
                    <input id="radio3" type="radio" name="radio" value="3">
                    <label for="radio3"><%= @questions.first.answers[2].text %></label>
                </div>
                <div>
                    <input id="radio3" type="radio" name="radio" value="3">
                    <label for="radio3"><%= @questions.first.answers[3].text %></label>
                </div>

            </div>
            <div class="clear"></div>

            <div class="siguente-btn <%= @styles[3] %> animated fadeIn">
                <input type="submit" value=""></div>

        </div>
        <!-- close div#main -->
        <div class="clear-footer"></div>

        <footer>
            <a href="#">Términos y Condiciones</a>
        </footer>
    </div>
    <!-- close div#wrapper -->
</body>
