<%= form_for(@winner) do |f| %>
  <% if @winner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@winner.errors.count, "error") %> prohibited this winner from being saved:</h2>

      <ul>
      <% @winner.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :code_id %><br>
    <%= f.number_field :code_id %>
  </div>
  <div class="field">
    <%= f.label :prize_id %><br>
    <%= f.number_field :prize_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
