<%= form_for(@prize) do |f| %>
  <% if @prize.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prize.errors.count, "error") %> prohibited this prize from being saved:</h2>

      <ul>
      <% @prize.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :difficulty_id %><br>
    <%= f.number_field :difficulty_id %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :stock %><br>
    <%= f.number_field :stock %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
